* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%
}

body {
  color:#333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6; 
}

button {
  cursor: pointer;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888888;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
}

.content-container {
  margin: 0 auto;
  padding: 0 1.6rem;
  max-width: 80rem;
}

