.list-header {
  background: #f7f7f7;
  border: 1px solid #DFDFDF;
  color: #666;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 1.6rem;
}

.list-body {
  margin-bottom: 1.6rem;
}

.list-item {
  border: 1px solid #DFDFDF;
  border-top: none;
  color: #333;
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  text-decoration: none;
  transition: background .3s ease;
}

.list-item:hover {
  background: rgb(247,247,247);
}

.list-item--message {
  align-items: center;
  color: #666;
  justify-content: center;
  padding: 1.6rem;
}

.list-item--message:hover {
  background: none;
}

.list-item__title {
  margin: 0;
  word-break: break-all;
}

.list-item__sub-title {
  color: #666;
  font-size: 1.4rem;
}

.list-item__data {
  margin: 1.2rem 0 0 0;
}

@media (min-width: 45rem) {
  .list-item__data {
    margin: 0;
    padding-left: 1.2rem;
  }
  .list-body {
    margin-bottom: 3.2rem;
  }
  .list-item {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.6rem;
  }
}
